services:
  max_pg:
    image: postgres:latest
    env_file:
      - ./.env
    container_name: max_pg_pg
    volumes:
      - max_pg_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: on-failure

volumes:
  max_pg_data: