.modal-bg{
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.3); /* важно для прозрачности */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* для Safari */
    border-radius: 10px; /* по желанию */
    border: 1px solid rgba(255,255,255,0.2); /* чтобы красиво выглядело */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper{
    background-color: #F7F8FA;
    width: 290px;
    min-height: 136px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.modal-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-button{
    width: 110px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-cancel{
    background-color: #F5E9E8;
    border: 2px solid var(--accent-red);
    color: var(--accent-red);
}

.modal-confirm{
    color: #5EB148;
    border: 2px solid #5EB148;
    background-color: #E8F5E9;
}

.modal-face{
    width: 48px;
    height: 48px;
    color: #7E828C;
}

.modal-face-active, .modal-face:hover{
    color: #5EB148;
}

.modal-faces{
    display: flex;
    gap: 10px;
}