.sheet-task__task-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.sheet-card__location{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.card-location-text-info{
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 5px;
}

.address-link{
  overflow: hidden;
  position: relative;
}

.address-link-image{
  width: 100%;
}

.address-link-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sheet-bottom{
  display: flex;
}

.sheet-reward-points-text{
  color: #A8D8B9;
}

.sheet-reward-points{
  border: 2px solid #A8D8B9;
  background-color: #E8F5E9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: fit-content;
  border-radius: 14px;
  padding: 2px 4px;
  margin-top: 5px;
}

.user-info-accepted .user-info__text{
  color: #fff;
}

.user-info-accepted{
  background-image: linear-gradient(90deg, #2D65FE, #7434E4);
  padding: 8px;
  border-radius: 25px;
}

.user-info-accepted__text{
  display: none;
}

.user-info-accepted .task-category{
  display: none !important;
}

.user-info-accepted .user-info-accepted__text{
  display: block;
  padding-right: 10px;
}

.sheet-bottom{
  display: flex;
  flex-direction: column;
}

.sheet-bottom-sbutton{
  margin-top: 15px;
  text-align: center;
}

.task-processing{
  background-color: #A8D8B9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 18px;
}

.task-processing-svg{
  width: 24px;
  height: 24px;
}

.sheet-back-btn{
  cursor: pointer;
}