.sheet-bottom{
  display: flex;
}



.sheet-bottom{
  display: flex;
  flex-direction: column;
}

.sheet-bottom-sbutton{
  margin-top: 15px;
  text-align: center;
}

.sheet-back-btn{
  cursor: pointer;
}


.sheet-create{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
}
.sheet-create-input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  padding: 16px 14px;
  border-radius: 12px;
}

.sheet-textarea-field {
    padding: 25px;
    resize: none;
}

.sheet-input-label {
  color: #333;
}

.sheet-input-field {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 4px 0;
  color: #000;
}

/* placeholder стиль */
.sheet-input-field::placeholder {
  color: #888;
  opacity: 0.8;
}

/* эффект при фокусе */
.sheet-input-field:focus {
  border-bottom: 2px solid var(--primary-color, #5a4fff);
  padding-bottom: 2px;
}
