:root {
  /* --lprimary: #8EA9E8;
  --dprimary: #505F82; */
  --lprimary: #489ffc;
  --primary: #007aff;
  --dprimary: #125cab;
  --dsecondary: #27b301;
  --lsecondary: #83f1aa;
  --fblack: #000;
  --fwhite: #fff;

}
