.catalog-h{
    padding: 20px 0;
}

.tasks-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.add-task-btn{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 100%;
    position: fixed;
    left: calc(50% + 140px);
    transform: translate(-50%, -50%);
    bottom: 100px;
    z-index: 1000;
}

@media (max-width: 400px) {
    .add-task-btn {
        left: calc(50% + 38vw); /* смещение от центра пропорционально ширине экрана */
        bottom: 80px; /* можно чуть опустить, если нужно */
        width: 55px; /* чуть меньше для маленьких экранов */
        height: 55px;
        font-size: 1.8rem;
    }
}

/* можно добавить промежуточные точки, если нужно */
/* @media (max-width: 320px) {
    .add-task-btn {
        left: calc(50% + 8vw);
        bottom: 70px;
        width: 60px;
        height: 60px;
        font-size: 2.5rem;
    }
} */