.sheet-bottom{
  display: flex;
}



.sheet-bottom{
  display: flex;
  flex-direction: column;
}

.sheet-bottom-sbutton{
  margin-top: 15px;
  text-align: center;
}

.sheet-back-btn{
  cursor: pointer;
}


.sheet-create{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 30px;
}
.sheet-create-input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  padding: 16px 14px;
  border-radius: 12px;
}

.sheet-textarea-field {
    padding: 25px;
    resize: none;
}

.sheet-input-label {
  color: #333;
}

.sheet-input-field {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 4px 0;
  color: #000;
}

/* placeholder стиль */
.sheet-input-field::placeholder {
  color: #888;
  opacity: 0.8;
}

/* эффект при фокусе */
.sheet-input-field:focus {
  border-bottom: 2px solid var(--primary-color, #5a4fff);
  padding-bottom: 2px;
}


.rating-place-first{
  border: 2px solid #FFAC33;
}


.rating-place-second{
  border: 2px solid #627077;
}

.rating-place-third{
  border: 2px solid #FF8A3B;
}

.rating-place{
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 12px;
}

.rating-card{
  border: 2px solid #47C693;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.rating-card__avatar{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.rating-place__avatar{
  border-radius: 100%;
  width: 30px;
  height: 30px;
}


.rating-leaderboard{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 18px;
}

.leaderboard-wrapper{
  margin-top: 40px;
}

.rating-card-top{
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-content{
  padding-top: 30px;
}