.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 5px;
  background: linear-gradient(90deg, #8EA9E8, #505F82);
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
  z-index: 9000;
  max-width: 390px;
  max-height: 50px;
}

.nav-buttons {
  position: relative;
  display: flex;
  width: 100%; /* Ширина контейнера под две кнопки */
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
}

.nav-button {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.nav-button .icon {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.nav-button.active {
  color: white;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* под одну кнопку */
  height: 100%;
  background: linear-gradient(90deg, #505F82, #8EA9E8);
  border-radius: 30px;
  transition: transform 0.3s ease;
  z-index: 1;
}
