.task-category__icon{
    width: 12px;
    height: 12px;
}

.task-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 5px;
    height: 25px;
    gap: 5px;
    border-radius: 12px;
}

