.app-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 390px;
  height: 100vh;
  margin: 0 auto;
}

body{
  background-color: #eeeeee;
  background: linear-gradient(to right, 
    var(--fwhite) 25%,   /* левый край */
    var(--backcolor),  /* центр */
    var(--fwhite) 75%  /* правый край */
);
}